h1 {
  font-size: 53px;
  margin-top: 0;
  margin-bottom: 15px;
}

p {
  font-size: 25px;
  padding-top: 5px;
  padding-bottom: 15px;
}

body {
  text-align: left;
  font-family: sans-serif;
  padding: 20px;
  background-image: url("images/japan.jpg");
  background-size: cover;
  background-position: center;
  color: black;
}
#survey-form {
  padding: 15px;
}

fieldset {
  margin: 15px;
}
